$csb-greyblue: #507289;
$csb-orange: #FFA252;
$csb-bluedark: #042C58;
$csb-bluelight: #6AB2E7;
$csb-red: #E31B4C;
$csb-green: #26D07C;
$csb-smokewhite: #deebf7;

// global bulma overrides
$primary: $csb-orange;
$success: $csb-green;
$info: $csb-bluelight;
$danger: $csb-red;

@import "~bulma/bulma";

html {
    overflow: unset
}

body {
    overflow-y: auto;
    background: url("/Images/deepStabP_Workflow.png");
    background-repeat: no-repeat;
    background-size: 90%;
    background-attachment: fixed;
    background-position: center;
    height: 100vh;
}

p.is-danger {
    color: red;
    font-weight: bold;
    font-size: 1.25rem;
}

.navbar.is-dark.csbNav {
    background-color: $csb-greyblue;
}

a.navbar-item.is-active {
    background-color: $csb-smokewhite !important;
    color: $csb-greyblue !important;
}

.HelpSection {
    background-color: $csb-smokewhite;
    color: $csb-greyblue;
    width: 100%;
    border: 1px solid;
}

.HelpSection .fas {
    color: darkred;
    cursor: pointer;
}

.hero.csbHero {
    /* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#006b6b+1,eb2849+100&0.9+1,0.9+100 */
    background: -moz-linear-gradient(left, rgba(0,107,107,0.9) 1%, rgba(235,40,73,0.9) 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(left, rgba(0,107,107,0.9) 1%,rgba(235,40,73,0.9) 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to right, rgba(0,107,107,0.9) 1%,rgba(235,40,73,0.9) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e6006b6b', endColorstr='#e6eb2849',GradientType=1 ); /* IE6-9 */

    text-align: justify;
    padding: 2rem;
}



.textarea {
    border-color: $csb-orange;
}

.is-danger-CSB {
    background-color: rgb(250, 238, 5) !important
}

.startBtn {
    min-height: 120px;
}

.section.csbSection {
    background-color: rgb($csb-smokewhite, 0.8);
    opacity: 0.6;
}

.section.resultSection {
    background: rgba($csb-smokewhite, 0.95);
}

.section.resultSection hr {
    background: $csb-greyblue
}

.ProcessDecision {
    /*background-color: #fafafa;*/

    margin: 0 0 0 0;
}

.ProcessDecision:last-child {
    margin-bottom: 0 !important;
}

.ProcessDecision .column {
    padding-left: 2rem;
    padding-right: 2rem;
}

.tile.csbTile {
    border: 1px solid $csb-greyblue;
}

.ResultFrame {
    min-height: 800px;
    min-width: 800px;
    width: 100%;
    overflow: hidden;
}

.plot-container {
    width: 50% !important;
    margin: auto !important;
}

.transparent {
    background-color: rgb(0,0,0,0.0);
}

.wordBreak {
    word-wrap: break-word;
}

.viewManipulator {
    display: flex;
    align-items: center;
    font-size: 2rem;
    font-weight: bold
}

.viewManipulator:hover {
    background-color: lightgray;
    cursor: pointer;
}

.viewManipulator div {
    width: 100%;
}


.fastaDisplay span {
    font-family: Consolas,monaco,monospace;
    font-size: 1.25em;
    line-height: 100%;
    padding: 1px 0px 1px 1px;
    font-weight: 1200;
}

.gradient-legend {
    background: #faee05; /* Old browsers */
    background: -moz-linear-gradient(left, #faee05 0%, #ed7d31 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(left, #faee05 0%,#ed7d31 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to right, #faee05 0%,#ed7d31 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#faee05', endColorstr='#ed7d31',GradientType=1 ); /* IE6-9 */
    width: 20rem;
    padding: 0.75rem;
    display: inline-block;
}

.spacer {
    width: 14rem;
    padding: 0.75rem;
    display: inline-block;
}

.leftSelector {
    background-color: white;

    @supports (backdrop-filter: blur(3px)) or (--webkit-backdrop-filter: blur(3px)) {
        -webkit-backdrop-filter: blur(5px);
        backdrop-filter: blur(5px);
        background-color: rgba(white, 0.85);
    }

    text-align: right;

}

.leftSelector .title {
    color: $csb-orange
}

.leftSelector hr {
    background-color: $csb-orange
}

.leftAlternative {
    text-decoration: none
}

.leftAlternative:hover {
    color: white;
    background-color: $csb-greyblue;
}

.rightSelector {
    background-color: rgba($csb-greyblue, 0.95);

    @supports (backdrop-filter: blur(3px)) or (--webkit-backdrop-filter: blur(3px)) {
        -webkit-backdrop-filter: blur(5px);
        backdrop-filter: blur(5px);
        background-color: rgba(68,84,106, 0.85);
    }

    text-align: left;
}

.rightSelector .title {
    color: $csb-orange
}

.rightSelector hr {
    background-color: $csb-orange
}

.rightSelector .radio {
    color: $csb-orange;
    font-size: 1.25rem;
}

.fastaFileUploadBtn {
    border: 1px solid $csb-orange;
    background-color: rgb(255, 255, 255);
    color: $csb-orange
}

.fastaFileUploadBtn .title {
    color: $csb-orange;
}

.file-label:hover .file-cta {
    background-color: $csb-orange;
    color: white ;
}

.file-label .file-cta {
    background-color: $csb-orange;
    color: white !important;
}

.file-label:hover .title {
    color: $csb-smokewhite;
}

.file-label .title {
    color: $csb-smokewhite;
}

#ResultHeading {
    background: rgba($csb-smokewhite,0.95);
    margin-bottom: 0 !important;
    margin-top: 0 !important;
}

#ResultHeading .column {
    padding-left: 2rem;
    padding-right: 2rem;
}

#ResultHeading .title {
    color: $csb-greyblue;
}

#ResultHeading .pagination-link {
    color: $csb-greyblue;
    border-color: $csb-greyblue;
    background-color: $csb-orange;
}

#ResultHeading .pagination-link.is-current {
    border-color: $csb-orange;
    background-color: $csb-greyblue;
    color: $csb-orange;
}

#ResultHeading hr {
    background-color: $csb-greyblue;
}

.leftResultHeading {
    text-align: right;
}

.resultBar {
    background: #ed7d31;
    background: -moz-linear-gradient(-55deg, #ed7d31 0%, #fad505 80%);
    background: -webkit-linear-gradient(-55deg, #ed7d31 0%,#fad505 100%);
    background: linear-gradient(145deg, rgba(237, 125, 49, 1.0) 0%,rgba(250, 238, 5, 1.0) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ed7d31', endColorstr='#faee05',GradientType=1 );
    margin-bottom: 0 !important;
    position: fixed;
    bottom: 0px;
    z-index: 29;
    width: 100%;
}

.resultBar .column {
    padding-left: 2rem;
    padding-right: 2rem;
}

.resultBar.title, .resultBar .pagination-link {
    color: $csb-greyblue;
}

.resultBar .pagination-link {
    border-color: $csb-greyblue;
    background-color: $csb-orange;
}

.resultBar .pagination-link.is-current {
    border-color: $csb-orange;
    background-color: $csb-greyblue;
    color: $csb-orange;
}

.resultBar hr {
    background-color: $csb-greyblue;
}

.leftResultBar {
    text-align: right;
}

a[download] {
    font-size: 1.5em;
    background-color: $csb-green;
    border-color: transparent;
    color: #fff;
    width: 100%;
    height: 100%;
}

a[download]::before {
    height: 1em;
    position: relative;
    top: 0.75em;
    right: 0.5em;
    width: 1em;
}

a[download]:hover,
a[download]:focus {
    text-decoration: none;
}

#prepareDownload {
    font-size: 1.5em;
    line-height: 100%;
}

.card-footer-item {
    font-size: 1.5em;
    line-height: 100%;
}


.is-selected-model {
    border: 2px solid $csb-green;
}

.ErrorSection {
    background-color: rgba( $csb-red, 0.7);
}

.ErrorSection h1 {
    color: $csb-red
}

.resetBtn {
    width: 100%;
    min-height: 7rem;
    font-size: 3rem;
}

.plotModeBtnActive {
    border-color: $csb-orange;
    background-color: $csb-greyblue;
    color: $csb-orange;
}

.plotModeBtnActive:focus {
    border-color: $csb-orange !important;
    background-color: $csb-greyblue !important;
    color: $csb-orange !important;
}

.plotModeBtnInactive {
    border: none;
    background-color: whitesmoke !important;
    color: $csb-greyblue !important;
}

.plotModeBtnInactive:hover {
    border: 1px solid $csb-greyblue !important;
    background-color: $csb-smokewhite !important;
    color: $csb-greyblue !important;
}

.footer-left {
    background-color: rgba($csb-greyblue, 0.95);
    text-align: right;
    padding-right: 4rem;
    color: white;

    @supports (backdrop-filter: blur(3px)) or (--webkit-backdrop-filter: blur(3px)) {
        background-color: rgba($csb-greyblue, 0.85);
        -webkit-backdrop-filter: blur(5px);
        backdrop-filter: blur(5px);
    }
}

.footer-right {
    text-align: left;
    padding-left: 4rem;
    background-color: rgba(255, 255, 255, 1.0);
    color: black;

    @supports (backdrop-filter: blur(3px)) or (--webkit-backdrop-filter: blur(3px)) {
        background-color: rgba(255, 255, 255, 0.85);
        -webkit-backdrop-filter: blur(5px);
        backdrop-filter: blur(5px);
    }
}

.footer-left a {
    text-decoration: none;
    color: white
}

.footer-left a:hover {
    cursor: pointer;
    color: $csb-orange;
    font-weight: bold
}

.footer-right a {
    text-decoration: none;
    color: $csb-greyblue
}

.footer-right a:hover {
    cursor: pointer;
    color: $csb-orange;
    font-weight: bold
}

.csbFooter {
    /*background-color: #fafafa;*/
    margin: 0 0 0 0;
}

.csbFooter:last-child {
    margin-bottom: 0 !important;
}

.csbFooter .column {
    padding-left: 2rem;
    padding-right: 2rem;
}

.footerSection {
    padding: 0rem;
}

.footer {
    padding: .5rem !important;
    text-align: center
}